.App {
    text-align: center;
}

.nav li {
    display: inline;
    margin: 0 32px;
}

.add-form button {
    margin-left: 12px;
}

.add-form input {
    width: 400px;
}

.todo-list {
    margin: 24px auto;
    padding: 12px;
    width: 600px;
    background-color: #eee;
}

.todo-item {
    display: flex;
    justify-content: row;
    margin: 8px auto;
    list-style: none;
    position: relative;
}

.todo-item input {
    margin-right: 12px;
}

.todo-item button {
    position: absolute;
    right: 0;
}

.complated {
    text-decoration: line-through;
    opacity: 0.5;
}
